body{
    background: rgb(2, 32, 46);
    font: normal 25px Arial;
}

header{
    color: white;
    text-align: center;
}

section{
    padding: 15px;
    margin: auto;
    width: 500px;
    background: white;
    border-radius: 10px;
    font: normal 17px Arial;
}

div#result {
    text-align: center;
}

img{
    border-radius: 50%;
    width: 250px;
    height: 250px;
}